<h3>Cadastrar Autor</h3>
<div [hidden]="submitted" style="width: 100%;">
  <form (ngSubmit)="onSubmit()">

    <div class="row">

      <div class="col-sm-6">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" id="nome" required [(ngModel)]="autor.nome" name="nome">
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="text" class="form-control" id="email" [(ngModel)]="autor.email" name="email">
        </div>
      </div>

      <div class="col-sm-2">
        <label for="sexo">Sexo</label>
        <div class="form-group">
          <select class="browser-default custom-select" name="sexo" id="sexo" [(ngModel)]="autor.sexo" requerid>
            <option value="0">Masculino</option>
            <option value="1">Feminino</option>
            <option value="2">Outros</option>
          </select>
        </div>
      </div>

    </div>
    <div class="row">

      <div class="col-sm-4">
        <div class="form-group">
          <label for="cpf">CPF</label>
          <input cpf-cnpj type="text" class="form-control" id="cpf" [(ngModel)]="autor.cpf" name="cpf" maxlength="14">
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label for="dtNascimento">Data Nascimento</label>
          <input type="date" class="form-control"
                 id="dtNascimento" required [(ngModel)]="autor.dtNascimento" name="dtNascimento" maxlength="10">
        </div>
      </div>

      <div class="col-sm-5">
        <div class="form-group">
          <label for="pais">País</label>
          <input type="text" class="form-control" id="pais" [(ngModel)]="autor.pais" name="pais">
        </div>
      </div>

    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>

  </form>

</div>

<div [hidden]="!showAutorCadastrado">
  <h4>Autor cadastrado!</h4>
</div>
