<div class="container body-content">
  <div class="box-login">
    <h2>Login</h2>

    <!-- Código html do botão de login -->
    <div id="gSignInWrapper">
      <div id="customBtn" class="customGPlusSignIn">
        <span class="icon"></span>
        <span class="buttonText">Logar com o Google</span>
      </div>
    </div>
    <div id="name"></div>

    <hr />
    <a href="javascript:void(0);" onclick="signOut();">Sign out</a>
  </div>
  <hr />
</div>
