<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Autores</h1>
  </div>

  <div class="panel-body">

    <form (ngSubmit)="onSubmit()">
      <div class="row">

        <div class="col-sm-4">
          <div class="form-group">
            <label for="cpf">CPF</label>
            <input type="text" class="form-control" id="cpf" [(ngModel)]="autor.cpf" name="cpf" maxlength="14">
          </div>
        </div>

      </div>

      <button type="submit" class="btn btn-primary">Pesquisar</button>&nbsp;
      <button type="button" class="btn btn-secondary" (click)="limpar()">Limpar</button>

    </form>

  </div>
  <br />
  <div class="panel-body" *ngIf="total >= 0">

    <table class="table table-striped table-bordered">
      <thead>
        <tr align="center">
          <th>Nome</th>
          <th>CPF</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let autor of autores | paginate: { itemsPerPage: 5, currentPage: paginaAtual, totalItems: total }; let i = index">
          <td align="right">{{autor.nome}}</td>
          <td align="center">{{autor.cpf}}</td>
          <td align="right">{{autor.email}}</td>
          <td align="center">
            <button class="btn btn-success" (click)="vincularObra(autor)">Add Obra</button>&nbsp;
            <button class="btn btn-warning" (click)="detalharAutor(autor, 'custom-modal-1')">Detalhar</button>&nbsp;
            <button class="btn btn-danger" (click)="removeAutor(autor.id)">Apagar</button>&nbsp;
            <button class="btn btn-secondary" (click)="showModalAtualizarAutor(autor, 'custom-modal-1')">Atualizar</button>
          </td>
        </tr>
      </tbody>
    </table>

    <pagination-controls (pageChange)="paginaAtual = $event"></pagination-controls>

  </div>

  <jw-modal id="custom-modal-1">
    <h1>{{ isEdit ?  titleDetail : titleSave}} Autor</h1>

    <div class="container">
      <div [hidden]="submitted" style="width: 100%;">
        <form (ngSubmit)="atu()">

          <div class="row">

            <div class="col-sm-6">
              <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" id="nome" required [(ngModel)]="autor.nome" name="nome" [disabled]="isEdit">
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label for="name">E-mail</label>
                <input type="text" class="form-control" id="email" [(ngModel)]="autor.email" name="email"  [disabled]="isEdit">
              </div>
            </div>

            <div class="col-sm-2">
              <label for="sexo">Sexo</label>
              <div class="form-group">
                <select class="browser-default custom-select" name="sexo" id="sexo" [(ngModel)]="autor.sexo" [disabled]="isEdit" requerid>
                  <option value="0">Masculino</option>
                  <option value="1">Feminino</option>
                  <option value="2">Outros</option>
                </select>
              </div>
            </div>

          </div>
          <div class="row">

            <div class="col-sm-4">
              <div class="form-group">
                <label for="cpf">CPF</label>
                <input type="text" class="form-control" id="cpf" [(ngModel)]="autor.cpf" name="cpf" maxlength="14" [disabled]="isEdit">
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                <label for="dtNascimento">Data Nascimento</label>
                <input type="date" class="form-control"
                       id="dtNascimento" required [(ngModel)]="autor.dtNascimento" name="dtNascimento" maxlength="10"  [disabled]="isEdit">
              </div>
            </div>

            <div class="col-sm-5">
              <div class="form-group">
                <label for="pais">País</label>
                <input type="text" class="form-control" id="pais" [(ngModel)]="autor.pais" name="pais" [disabled]="isEdit">
              </div>
            </div>

            <div class="col-sm-5" *ngIf="byAtualizar">
              <div class="form-group">
                <label for="pais">Habilitar edição ?&nbsp;</label>
                <input type="checkbox" id="isEdit" name="isEdit" [(ngModel)]="isEdit">
              </div>
            </div>

          </div>

          <button *ngIf="!isEdit" (click)="atualizarAutor();" type="button" class="btn btn-primary">Atualizar</button>

        </form>

      </div>
    </div>
    <hr />

    <button class="btn btn-secondary" (click)="fecharModal('custom-modal-1');">Fechar</button>

    <div [hidden]="!showAutorAtualizado">
      <h4>Autor Atualizado!</h4>
    </div>

  </jw-modal>

</div>

