<div class="container">
  <h2>{{title}}</h2>
  <hr>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="mood/autor/add" class="btn btn-primary active" role="button" routerLinkActive="active">Add Autor</a>
      </li>
      <li class="nav-item" style="margin-left: 10px;">
        <a routerLink="mood/autor/list" class="btn btn-primary active" role="button" routerLinkActive="active">List Autor</a>
      </li>
      &nbsp;&nbsp;
      <li class="nav-item">
        <a routerLink="mood/obra/add" class="btn btn-primary active" role="button" routerLinkActive="active">Add Obra</a>
      </li>
      <li class="nav-item" style="margin-left: 10px;">
        <a routerLink="list" class="btn btn-primary active" role="button" routerLinkActive="active">List Obra</a>
      </li>
    </ul>

  </nav>
  <router-outlet></router-outlet>
</div>
