<h3>Cadastrar Obra</h3>
<div [hidden]="submitted" style="width: 100%;">
  <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">

    <div [hidden]="!showObraCadastrada">
      <h4>Obra cadastrada!</h4>
    </div>

    <div class="row">

      <div class="col-sm-6">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" id="nome" required [(ngModel)]="obra.nome" name="nome">
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label for="dtPublicacao">Data Publicação</label>
          <input type="date" class="form-control"
                 id="dtPublicacao" required [(ngModel)]="obra.dtPublicacao" name="dtPublicacao" maxlength="10">
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label for="dtExposicao">Data Exposição</label>
          <input type="date" class="form-control"
                 id="dtExposicao" required [(ngModel)]="obra.dtExposicao" name="dtExposicao" maxlength="10">
        </div>
      </div>

    </div>
    <div class="row">

      <div class="col-sm-6">
        <div class="form-group">
          <label for="descricao">Descrição</label>
          <textarea type="text" class="form-control" id="descricao" [(ngModel)]="obra.descricao" name="descricao" maxlength="240"></textarea>
        </div>
      </div>

      <div class="col-sm-6">
        <label for="imagem">Imagem</label>
        <div class="form-group">
          <input type="file" class="form-control" id="imagem" [(ngModel)]="obra.imagemTransiente" name="imagem">
        </div>
      </div>

    </div>

    <br />

    <div class="panel-heading">
      <h6>Autores selecionados</h6>
    </div>

    <hr />

    <div class="panel-body" *ngIf="totalAutoresVinculados >= 0">

      <table class="table table-striped table-bordered">
        <thead>
          <tr align="center">
            <th>Nome</th>
            <th>CPF</th>
            <th>Email</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let autor of autoresParaVicular | paginate: { itemsPerPage: 5, currentPage: paginaAtualVinculados, totalItems: totalAutoresVinculados }; let i = index">

            <td align="right">{{autor.nome}}</td>
            <td align="center">{{autor.cpf}}</td>
            <td align="right">{{autor.email}}</td>
            <td align="center">
              <button class="btn btn-warning" (click)="removerAutor(autor)">Remover</button>&nbsp;
            </td>
          </tr>
        </tbody>
      </table>

      <pagination-controls (pageChange)="paginaAtualVinculados = $event"></pagination-controls>

    </div>

    <br />

    <div [hidden]="!showMensagem">
      <h4>Autor já na lista de cadastro!</h4>
    </div>

    <div class="panel-body" *ngIf="total >= 0">

      <div class="panel-heading">
        <h6>Autores Cadastrados</h6>
      </div>

      <table class="table table-striped table-bordered">
        <thead>
          <tr align="center">
            <th>Nome</th>
            <th>CPF</th>
            <th>Email</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let autor of autores | paginate: { itemsPerPage: 5, currentPage: paginaAtual, totalItems: total }; let i = index">
            <td align="right">{{autor.nome}}</td>
            <td align="center">{{autor.cpf}}</td>
            <td align="right">{{autor.email}}</td>
            <td align="center">
              <button class="btn btn-warning" (click)="adicionarAutor(autor)">Adicionar</button>&nbsp;
            </td>
          </tr>
        </tbody>
      </table>

      <pagination-controls (pageChange)="paginaAtual = $event"></pagination-controls>

    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
</div>
